<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>webvote</display-name>
	<!-- Context Configuration locations for Spring XML files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:applicationContext.xml
        </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<display-name>oushi_vote</display-name>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>admin_login_servlet</servlet-name>
		<servlet-class>com.voting.servlet.Admin_login_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin_login_servlet</servlet-name>
		<url-pattern>/admin_login_servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>discuss_status_servlet</servlet-name>
		<servlet-class>com.voting.servlet.Discuss_status_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>discuss_status_servlet</servlet-name>
		<url-pattern>/discuss_status_servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>dead_servlet</servlet-name>
		<servlet-class>com.voting.servlet.Dead_servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dead_servlet</servlet-name>
		<url-pattern>/dead_servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>workVoteServlet</servlet-name>
		<servlet-class>com.voting.servlet.WorkVoteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>workVoteServlet</servlet-name>
		<url-pattern>/workvote</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Addworks</description>
		<display-name>AddWorks</display-name>
		<servlet-name>AddWorks</servlet-name>
		<servlet-class>com.voting.servlet.AddWorks</servlet-class>
	</servlet>
	<servlet>
		<description>GetDiscussInfo</description>
		<display-name>GetDiscussInfo</display-name>
		<servlet-name>GetDiscussInfo</servlet-name>
		<servlet-class>com.voting.servlet.GetDiscussInfo</servlet-class>
	</servlet>
	<servlet>
		<description>EditWorks</description>
		<display-name>EditWorks</display-name>
		<servlet-name>EditWorks</servlet-name>
		<servlet-class>com.voting.servlet.EditWorks</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddWorks</servlet-name>
		<url-pattern>/AddWorks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDiscussInfo</servlet-name>
		<url-pattern>/GetDiscussInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditWorks</servlet-name>
		<url-pattern>/EditWorks</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
